/frontend/node_modules/
/frontend/.angular
frontend/dist/
/.idea
/backend/target
*.iml
*.xlsx
!backend/src/main/resources/fantamaster/rose_lega_1590336.xlsx
/backend/.env
/backend/.env.prod
/backups/
/config/*.env
!/config/*.env.example
!/config/*.local.env.example
