.mobile-shell {
    height: 100vh;
    background: linear-gradient(135deg, #2e003e, #512da8);
    color: #fff;
}

.mobile-content {
    padding: 8px;
}

.toolbar-title {
    margin-left: 8px;
    font-weight: bold;
}
