/* Summary compatto */
.summary-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

/* Card elenco */
.list-card {
    background: linear-gradient(135deg, #2e003e, #512da8);
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-size: 13px;
}
.list-card h4 {
    margin: 0 0 6px;
    font-size: 14px;
    text-align: center;
    color: #ffeb3b;
}

.list-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    align-items: center;
    gap: 8px;
}
.summary-credits {
    color: #ffeb3b;
    font-weight: bold;
    /*color: #00ffc8;*/
    font-size: 13px;
}

.summary-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.role-count {
    font-size: 12px;
    font-weight: 500;
}

.role-count.p { color: #1976d2; }
.role-count.d { color: #388e3c; }
.role-count.c { color: #fbc02d; }
.role-count.a { color: #d32f2f; }

/* Responsive */
@media (max-width: 768px) {
    .list-card { padding: 8px; }
    .list-row { flex-direction: column; gap: 4px; }
    .summary-right { justify-content: space-between; width: 100%; }
}

@media (min-width: 1024px) {
    .summary-container {
        grid-template-columns: 1fr 1fr; /* desktop: 2 colonne */
    }
}